{{!-- upload.handlebars --}}

<div class="container">
    <div class="row">
        <div class="col-xs-8">
            <h1 class="">New Character</h1>
            <form action="/char/upload" method="post" enctype="multipart/form-data">
                <div class="">
                    <label for="avatar">Choose one or more MIDI files:</label><br>
                    <input type="file" id="avatar" name="avatar" accept="image">
                </div>
                <br>
                <div class="">
                    <label for="category">Specify a category:</label><br>
                    <input type="text" id="category" name="category" value="">
                </div>
                <br>
                <div class="">
                    <button class="btn btn-primary" type="submit" name="button">Upload</button>
                </div>
            </form>
        </div>
    </div>
</div>